* {
  margin: 0;
  padding: 0;
}

._container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  height: 100vh;
}

.about {
  font-family: Arial;
  color: white;
  text-align: center;
}